.imagen-yo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);   
}
.texto {
    font-family: monospace;
    color: #333;
}
.contenedor01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 0px 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.redes-sociales {
    display: flex;
    gap: 80px;     
    list-style: none;
    text-decoration: none;
}
.red {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    justify-content: center;
    gap: 200px;
}
.contenedor2 {
    display: flex;
    gap: 200px;
    margin-left: 300px;
    margin-right: 300px;
}
.contenedor3 {
    display: flex;
    gap: 200px;
    margin: 100px 300px;
    align-items: flex-start;
}

.educacion {
    width: 50%;
}

.contacto {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.03);
    transition: 0.3s;
}




